 <div>
  <div class="form__login">
    <div>
      <h1 class="title">Login</h1>
    </div>

    <form [formGroup]="loginForm">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-9 ui-fluid">
          <input type="text" pInputText placeholder="E-mail" formControlName="email">
        </div>
        <div class="ui-g-12 ui-md-9 ui-fluid">
          <input formControlName="senha" type="text" pInputText placeholder="Senha">
        </div>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <button [disabled]="loginForm.invalid" pButton type="submit" label="Login" (click)="login()"></button>
      </div>
    </form>
  </div>