<app-navbar></app-navbar><br><br>
<div class="container">
    <p-card>
        <app-lancamentos-pesquisa></app-lancamentos-pesquisa>
    </p-card><br><br>
    <p-card>
        <app-lancamentos-tabela></app-lancamentos-tabela>
    </p-card><br><br>
    <p-card>
        <app-lancamento-cadastro></app-lancamento-cadastro>
    </p-card><br><br>
    <p-card>
        <app-pessoa-tabela></app-pessoa-tabela>
    </p-card><br><br>
    <!-- <p-card>
        <app-menu></app-menu>
    </p-card><br><br> -->
    <p-card>
        <app-pessoa-cadastro></app-pessoa-cadastro>
    </p-card><br><br>
    <p-card>
        <app-pessoa-pesquisa></app-pessoa-pesquisa>
    </p-card><br><br>

</div>