<div class="ui-g">

    <div class="ui-g-12">

        <h1>Lançamentos</h1>

    </div>

    <div class="ui-g-12 ui-fluid">
        <label for="descricao">Descrição </label>
        <input pInputText type="text" id="descricao">

    </div>

    <div class="ui-g-12" id="input-vencimento">
        <label>Vencimento </label><br>
        <input pInputText type="date">
        <label> Até </label>
        <input pInputText type="date">


    </div>

    <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
    </div>

</div>