<div class="ui-g">

    <div class="ui-g-12">

        <h1>Lançamentos</h1>

    </div>


    <div class="ui-g-12 ui-fluid">
        <label for="descricao">Descrição </label>
        <input pInputText type="text" id="descricao">

    </div>

    <div class="ui-g-12 ui-md-6" id="input-vencimento">
        <label>Vencimento </label><br>
        <p-calendar name="vencimentoDe"></p-calendar>
        <label> Até </label>
        <p-calendar name="vencimentoAte"></p-calendar>
    </div>
    <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
    </div>


</div>